
body {
    background:  black;
    color:       lime;
    font-family: "Andale Mono", AndaleMono, monospace;
}

h1, h2 {
    margin: 5px;
}

input,
button,
textarea {
    color: lime;
    background: black;
    border: 1px solid lime;
    border-radius: 5px;  
    resize: none;   
    padding: 5px;
    font-weight: bold;
}

a {
    color: lime;
}

.well {
    border: 1px solid lime;
    border-radius: 5px;
    padding: 5px;
}

.keypad {
    width: 160px;    
    border: 1px solid lime;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    margin: 5px auto;
}

.keypad input {
    width: 145px;
    border-radius: 5px;    
}

.keypad button {
    width: 42px;       
    margin: 5px 0;
}

#launch button {
    color: red;
    border: 2px solid red;
    font-size: 200%;
    font-weight: bold;  
    background: repeating-linear-gradient(
      -45deg,
      black,
      black 10px,
      #400000 10px,
      #400000 20px
    );
}

.locked,
.locked button,
.locked input,
.locked .well,
.locked .keypad {
    color: silver;
    border-color: silver;
}

.locked #launch button {
    color: silver;
    border-color: silver;
    background: repeating-linear-gradient(
      -45deg,
      black,
      black 10px,
      gray 10px,
      gray 20px
    );
}

.drill #launch button {
    background: repeating-linear-gradient(
      -45deg,
      black,
      black 10px,
      orange 10px,
      orange 20px
    );
}

.drill .icbm {
    border: 1px solid orange;
}

button.eam {
    color: black;
    background: #3A9C31;    
    
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 2s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;

    -moz-animation-name: blinker;
    -moz-animation-duration: 2s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;

    animation-name: blinker;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@-moz-keyframes blinker {  
    0% { background: #3A9C31;  }
    50% { background: #2F7829; }
    100% { background: #3A9C31;  }
}

@-webkit-keyframes blinker {  
    0% { background: #3A9C31;  }
    50% { background: #2F7829; }
    100% { background: #3A9C31;  }
}

@keyframes blinker {  
    0% { background: #3A9C31;  }
    50% { background: #2F7829; }
    100% { background: #3A9C31;  }
}

.note {
    width: 150px;
    height: 180px;
    color: #333;
    color: black;
    background: #eae672;
    padding: 5px;
    padding-top: 50px;
    font-family: "Brush Script MT", cursive;
    transform: rotate(10deg);

}

::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    border-radius: 5px;
    border: 1px solid lime;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 5px;
    border: 1px solid lime;
    background: #3A9C31;
}
